<div class="col xl3 s12">
    <div class="card blue-grey darken-2">
        <div class="card-image">
            <img src="{{ application.utilisateur.utiAvatarNomFichier ? vich_uploader_asset(application.utilisateur, 'utiAvatarFichier') : "/media/users/avatar/default.jpg" | imagine_filter('avatarmedium') }}" alt="Image de profil">
            <span class="col s12 card-title blue-grey darken-4 center-align" style="text-indent: 20px; color: {{ application.recrutement.role.rolCouleur }}">Candidature de <strong>{{ application.utilisateur.id }}</strong></span>
        </div>
        <div class="card-content">
            <ul>
                <li><strong>Date de candidature :</strong> {{ application.canDateString }}</li>
                <li><strong>Rôle demandé :</strong> {{ application.recrutement.role.rolNom }}</li>
                <li><strong>Etat :</strong> {{ application.canEtat }}</li>
            </ul>
        </div>
        <div class="card-action center">
            {{ include('admin/admin_recruitment/admin_recruitment_show/admin_recruitment_show_application/admin_recruitment_show_application_acceptform.html.twig') }}
            {{ include('admin/admin_recruitment/admin_recruitment_show/admin_recruitment_show_application/admin_recruitment_show_application_refuseform.html.twig') }}
            {{ include('admin/admin_recruitment/admin_recruitment_show/admin_recruitment_show_application/admin_recruitment_show_application_deleteform.html.twig') }}
        </div>
    </div>
</div>