{% extends 'base.html.twig' %}

{% block title 'LeMangaFrancais | Scenario' %}
{% block body %}
    <div class="grey lighten-4 center">
        <h1>Les scénarios</h1>
        <h6>Retrouvez les derniers Scénarios publiés</h6>
        <div class="row">
            <div class="col l7 offset-l1">
                <div class="section left-align">
                    <h5>Derniers Scénarios</h5>
                    <div class="divider"></div>
                </div>
                {% for page in scenario %}
                    <div class="col l6">
                    <a href="{{ path('scenario.show', {id: page.id}) }}">
                        <div class="card hoverable waves-effect waves-block waes-blue" style="height: 300px">
                            <div class="card-content left-align "style="padding-bottom: 10px">
                                <div class="chip blue white-text activator">{{ page.SceDateCreation|title }}</div>
                                <span class="span card-title">{{ page.SceTitre }}<br>par
                                    {% for utilisateur in page.utilisateurs %}
                                        <span class="orange-text">{{ utilisateur.id }}</span>
                                    {% endfor %}
                                </span>
                                <p>{{ page.sceContenu|truncate(300,false,"...")|raw }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}