{% extends 'base.html.twig' %}

{% block title 'LeMangaFrancais | Scénarios' %}

{% block body %}
    <div class="grey lighten-4 center">
        <h1 id="haut"></h1>
        <div class="row">
            <div class="col l7 offset-l1">
                <div class="section left-align">
                    <h4><b>{{ scenario.sceTitre }}</b></h4>
                    <div class="divider"></div>
                </div>
                <div class="white z-depth-3 rounded">
                    <div class="container margin-bottom" style="padding-top: 5%; padding-bottom: 5%;">
                        {{ scenario.sceContenu | raw}}
                        <a class="blue waves-effect waves-light btn" href="#haut">Revenir en Haut<i class="material-icons right">keyboard_arrow_up</i></a>
                    </div>
                </div>

            </div>
            <div class="col l3">
                <div class="section left-align">
                    <h4 class="left-align">Informations</h4>
                    <div class="divider"></div>
                </div>
                <div class="white z-depth-3 rounded section margin-bottom">
                    <h4>Auteurs</h4>
                    <div class="divider"></div>
                    {% for utilisateur in scenario.utilisateurs %}
                        <h5></h5>
                        <img src="{{ utilisateur.utiAvatarNomFichier ? vich_uploader_asset(app.user, 'utiAvatarFichier') : "/media/users/avatar/default.jpg" | imagine_filter('avatarsmall') }}" alt="" class="circle" style="width: 150px; height: 150px">
                        <h5><b>{{ utilisateur.id }}</b></h5>
                        {% for role in utilisateur.utiroles %}
                            <span class="grey-text">{{ role.rolNom }}</span>
                        {% endfor %}
                        <p class="margin-right margin-left"><b>Biographie :</b><br>{{ utilisateur.UtiBiographie }}</p>
                        <div class="divider"></div>
                    {% endfor %}
                    <p><b>Date de publication : </b>{{ scenario.sceDateCreation }} <br>
                        <b>Pages : </b>3 <br>
                        <b>Type : </b>Soupe <br>
                    </p>
                    <p><b>Tags : </b>Horreur / Fantaisie</p>
                </div>
                <div class="white z-depth-3 rounded section margin-bottom">
                    <h4>Description</h4>
                    <div class="divider"></div>
                    <p style="padding: 5%">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}