{% extends 'base.html.twig' %}

{% block title 'LeMangaFrancais | Scenario' %}
{%  block body %}
    <div class="grey lighten-4 center">
        <h1>Vos Scenarios</h1>
        <h6>Retrouvez la liste de vos scenarios</h6>
        <div class="row">
            <div class="col s7 offset-s1">
                {% for scenario in allScenario %}
                    <div class="col l6">
                        <a href="{{ path('scenario.show', {id: scenario.id}) }}">
                            <div class="card hoverable waves-effect waves-block waes-blue" style="height: 300px">
                                <div class="card-content left-align "style="padding-bottom: 10px">
                                    <div class="chip blue white-text activator">{{ scenario.SceDateCreation|title }}</div>
                                    <span class="span card-title activator">{{ scenario.SceTitre }}</span>
                                    <p>{{ scenario.sceContenu|truncate(300,false,"...")|raw }}</p>
                                </div>
                                <div class="card-action">
                                    <a class="waves-effect waves-light #fdd835 yellow darken-1 btn right" href="{{ path('usersScenario.editScenario',{'utilisateur' :user.id, 'scenario': scenario.id}) }}"><i class="material-icons left">edit</i></a>
                                    <a class="waves-effect waves-light #b71c1c red darken-4 btn right modal-trigger" href="#deleteS{{ scenario.id }}"><i class="material-icons left">delete</i></a>
                                    <div id="deleteS{{ scenario.id }}" class="modal">
                                        {{ include("users/users_show/users_show_creations/users_show_scenario_deleteform.html.twig") }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>{{ knp_pagination_render(allScenario) }}</div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue pulse modal-trigger tooltipped" data-position="left" data-tooltip="Créer un scenario" href="{{ path("usersScenario.addScenario", {id:user.id}) }}">
                <i class="large material-icons">add</i>
            </a>
        </div>
    </div>
{% endblock %}