{% extends 'base.html.twig' %}

{% block title 'LeMangaFrancais | Admin' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
    <section>
        <h3 class="center-align">Recrutement(s)</h3>

        <table class="centered blue-grey darken-2 z-depth-1">
            <thead class="blue-grey darken-4">
            <tr>
                <th>Etat</th>
                <th>Rôle</th>
                <th>Candidatures</th>
                <th>Gestion</th>
            </tr>
            </thead>
            <tbody>
            {% for job in allJobs %}
                <tr>
                    <td>{{ job.recEtat }}</td>
                    <td style="color: {{ job.role.rolCouleur }}">{{ job.role.rolNom }}</td>
                    <td>{{ job.candidatures|length }}</td>
                    <td>
                        <a href="{{ path('admin.recruitment.show', {id:job.id, slug: job.slug}) }}" class="waves-effect waves-light btn yellow accent-4 tooltipped" data-position="top" data-tooltip="Afficher les détails"><i class="material-icons white-text">remove_red_eye</i></a>
                        {{ include('admin/admin_recruitment/admin_recruitment_deleteform.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue pulse modal-trigger tooltipped" data-position="left" data-tooltip="Ajouter un rôle" href="#ajouter">
                <i class="large material-icons">add</i>
            </a>
        </div>
        {{ include('admin/admin_recruitment/admin_recruitment_addform.html.twig') }}
    </section>
{% endblock %}